$cell-center: #bdbdbd;
$cell-convex: #fff;
$cell-concave: #7b7b7b;
$bgc-saper: #bdbdbd;

$timer-font: "Gemunu Libre", sans-serif;
$description-font: "Roboto", sans-serif;
$timer-bgc: #000;
$timer-color: #f00;
